* {
  box-sizing: border-box;
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
body {
  background-color: #f4f1de;
}

#company-name {
  font-size: 25px;
}
.nav-container {
  position: relative;
  background-color: #81b29a;
  color: #fff;
  display: block;
  padding: 5px;
}
.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0%;
  top: 0%;
}
.nav li {
  margin: 10px;
  list-style-type: none;
}

.cta-container h2 {
  margin: 20px;
  color: #e07a5f;
}
.cta-container p {
  margin: 20px;
  width: 300px;
}
#cta-btn {
  margin: 10px 20px 0;
  border: 2px solid #3d405b;
  border-radius: 5px;
  background-color: #e07a5f;
  box-shadow: 2px 2px #81b29a;
  width: 100px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
#cta-btn:hover {
  background-color: #81b29a;
  box-shadow: 2px 3px #3d405b;
}
#cta-btn a {
  text-decoration: none;
  color: #f4f1de;
}

footer {
  height: 40px;
  background-color: #81b29a;
  text-align: center;
  padding: 10px;
  color: #fff;
}
