* {
  box-sizing: border-box;
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
body {
  background-color: #f4f1de;
}

#company-name {
  font-size: 25px;
  margin: 10px;
}
.nav-container {
  background-color: #0055ff;
  color: #dff1f0;
  padding: 5px;
  height: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  font-size: 20px;
  list-style-type: none;
  gap: 20px;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: #dff1f0;
}
nav a:hover {
  color: yellow;
}
/*Hero Image*/
.background-container {
  width: 100%;
  height: 300px;
  color: white;
  overflow: auto;
  margin-bottom: 20px;
}

.background-img {
  background: url("https://images.unsplash.com/photo-1568393691622-c7ba131d63b4?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center bottom;
  object-fit: cover;
  background-attachment: fixed;
}
/*CTA styles*/
.fixed-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background: rgba(0, 0, 0, 0.303);
  height: 100%;
  width: 100%;
}
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  padding: 15px;
}
.cta-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 20px;
}
.cta-message {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-shadow: #3d405b 2px 2px 2px;
  margin-left: 15px;
}
.cta-btn {
  border: 2px solid #a6dce5;
  border-radius: 5px;
  background-color: #0055ff;
  box-shadow: 4px 5px skyblue;
  width: 250px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 20px;
  animation: btnStill 2s ease 3;
}
@keyframes btnStill {
  0%,
  50% {
    transform: translateY(-4px);
    background-color: #0055ff;
    box-shadow: 4px 4px 3px yellow;
  }
  50%,
  100% {
    transform: translateY(4px);
    background-color: #0c5cfc;
    box-shadow: 3px 3px 2px darkgoldenrod;
  }
}
.cta-btn:hover {
  animation: btnHover 1s linear;
}
@keyframes btnHover {
  0%,
  25% {
    transform: scale(1.1);
    background-color: #0055ff;
    color: #fefee3;
  }
  100% {
    transform: scale(0.9);
  }
}
.cta-btn a {
  font-size: 25px;
  text-decoration: none;
  color: #f4f1de;
}
.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 100%;
}
#section-header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  text-shadow: #ff5733 1px 1px 1px;
  color: black;
}
.mission-message {
  background-color: #e0e0d0;
  padding: 15px;
  width: 80%;
  overflow: auto;
}
#mission-heading {
  color: #ff5733;
  font-size: 25px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.mission-message p {
  margin: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mission-cta {
  border: #fff 2px solid;
  border-radius: 5px;
  background-color: #ff5733;
  width: 150px;
  font-size: 18px;
  text-align: center;
  box-shadow: cornflowerblue 2px 2px 1px;
  padding: 5px;
}
#mission-cta:hover {
  animation: animatebtn 1s ease-in-out;
}
@keyframes animatebtn {
  0%,
  50% {
    background-color: #ffb243;
    box-shadow: skyblue 3px 3px 2px;
    transform: translateY(2px);
  }
  100% {
    background-color: darkorange;
    box-shadow: royalblue 2px 2px 1px;
  }
}
#mission-cta a {
  text-decoration: none;
  color: black;
}
.programs {
  display: flex;
  background-color: #a6dce5;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.program-items img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
.program-items h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
}
.program-items p {
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*css for browse.html*/
#gallery-header {
  text-align: center;
  font-size: 30px;
  color: #ff5733;
  margin: 10px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
}
.gallery-row {
  display: flex;
  margin: 10px 20px;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery-row > div {
  height: 350px;
  width: 300px;
  background-color: #fff;
  gap: 10px;
  flex: 0 0 300px;
  border-radius: 10px;
}
.gallery-row > div > img {
  width: 300px;
  height: 250px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.greetings {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
  font-size: 20px;
}
.greetings span {
  color: #ff5733;
}
.descriptions {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
}

#landing-footer {
  font-size: 18px;
  height: 60px;
  background-color: #0055ff;
  text-align: center;
  padding: 20px;
  color: #dff1f0;
}
.footer-container {
  background-color: #0055ff;
  color: #dff1f0;
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  line-height: 25px;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  flex: 1 1 150px;
}
.footer-items {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
}
i {
  font-size: 30px;
}
a > i {
  color: #fefee3;
}
a > i:hover {
  color: yellow;
}
.copyrights {
  background-color: #0055ff;
  width: 100vw;
  padding: 10px;
}

/*Dashboard css*/
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-rows: 65px 90vh 200px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main  main"
    "footer footer footer";
}

.sidebar h2 {
  padding: 10px;
  font-size: 25px;
  background-color: #2b4593;
  color: #fefee3;
}
.sidebar ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: 550;
  margin: 10px;
}
.animated-link {
  color: #ff5733;
  text-decoration: none;
  position: relative;
}
.animated-link::after {
  content: "";
  background-color: rgba(0, 102, 255, 0.38);
  position: absolute;
  left: 0;
  height: 22px;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.animated-link:hover::after {
  width: 100%;
}

.main h2 {
  margin: 0 0 15px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ff5733;
  font-size: 25px;
}
.main h3 {
  margin: 5px 0 10px 15px;
  font-size: 20px;
  color: #ff5733;
}
.main h4 {
  margin: 5px 0 8px 20px;
  font-size: 18px;
  color: orangered;
}
.main p {
  font-size: 16px;
  margin: 0 10px 10px 10px;
}

.arrivals-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.new-arrivals {
  display: flex;
  text-align: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 4px 3px #2c6e49;
}
.new-arrivals:hover {
  animation: animate-arrivals 1s linear;
}
@keyframes animate-arrivals {
  0%,
  50% {
    transform: translateY(-4px);
    transform: scale(1.1);
    box-shadow: 8px 6px 3px #81b29a;
  }
  75%,
  100% {
    box-shadow: 5px 4px 3px #2c6e49;
  }
}
.descriptions span {
  color: orangered;
  font-weight: 800;
}
.new-arrivals img {
  border-radius: 8px 0 0 8px;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

@media (999px < width < 1755px) {
  .grid-container {
    display: grid;
    grid-template-rows: 65px auto auto auto 200px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      "header header header"
      "sidebar main  main"
      "sidebar main  main"
      "sidebar main  main"
      "footer footer footer";
  }
  .arrivals-container {
    margin-bottom: 20px;
  }
}
@media (width < 1000px) {
  .grid-container {
    display: grid;
    grid-template-rows: 65px auto auto 200px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      "header header header"
      "sidebar main  main"
      "sidebar main  main"
      "footer footer footer";
  }
  .arrivals-container {
    margin-bottom: 20px;
  }
}
@media (width < 700px) {
  .grid-container {
    display: grid;
    grid-template-rows: 65px 1fr auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
  #white-cat {
    width: 200px;
  }
  .new-arrivals img {
    border-radius: 8px 8px 0 0;
  }
  .new-arrivals {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .sidebar {
    border-bottom: #2b4593 2px solid;
  }
  .main {
    margin-top: 10px;
  }
}
@media (width < 500px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
  .nav-container {
    height: 75px;
    align-items: center;
    border-bottom: #fefee3 2px solid;
  }
  #company-name {
    font-size: 20px;
    padding: auto;
  }
}
@media (width < 400px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
  .nav-container {
    height: 80px;
  }
  #company-name {
    font-size: 18px;
    padding: auto;
  }
  .footer {
    width: 100vw;
  }
}
@media (width < 350px) {
  .footer-container {
    height: 50vh;
  }
  .footer-items {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}
